.message-card {
  text-align: center;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  color: #646464;
  background: white;
  .message-btn {
    background: #f4b13e;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 1rem 3rem;
  }
  .text1 {
    color: #f23333;
  }
}
