.PT-mydetail {
      // 第一張卡
      .sec1 {
        background: white;
        box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
        .avatar {
          display: flex;
          .icon {
            object-fit: cover;
            width: 100%;
          }
        }
        .content-1 {
          color: #646464;
          .way {
            display: inline-block;
            background-color: #547cd7;
            padding: 0.3rem 0.8rem;
            color: white;
            border-radius: 5px;
          }
        }
      }
      .content-title {
        color: #646464;
      }
      // 第二張卡
      .sec2 {
        background: white;
        box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.08);
        padding: 2rem;
        letter-spacing: 1.6px;
        line-height: 30px;
        color: #646464;
        font-size: 16px;
      }
}
