.ji-card{
    width: 367px;
    overflow: hidden;
}
.card-image{
    overflow: hidden;
    object-fit: cover;
}
.card-title{
    overflow: hidden;
    text-overflow: ellipsis;   
    white-space: nowrap;
}
.card-body{
    padding: 30px;
    font-size: 14px;
    p{
        border-radius: 2px;
        line-height: 26px;
    }
}