.leftArrow {
  position: absolute;
  left: 10px; // 調整左側位置
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.rightArrow {
  position: absolute;
  right: 10px; // 調整右側位置
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}
