.coupon-content {
    color: #22355C;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top: 0;
    left: 145px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.value {
    color: #f4b13e;
}

.name {
    letter-spacing: 3px;
    white-space: nowrap;
    overflow: hidden;
}

.use-time {
    font-size: 10px;
    font-weight: normal;
}

.coupon-message {
    color: #646464;
}

.badge {
    line-height: 1.5;
}


